<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jafa.repository.AttachRepository">
	
	<insert id="save">
		insert all 
		<foreach collection="attachList" item="attach">
			into attach_file(sno,filePath,fileName,fileType,uuidName)
			values(#{attach.sno}, #{attach.filePath},#{attach.fileName},#{attach.fileType},#{attach.uuidName})
		</foreach>
		select * from dual
	</insert>
	<insert id="pictureSave">
		insert all 
		<foreach collection="attachList" item="attach">
			into attach_picture(pno,filePath,fileName,fileType,uuidName)
			values(#{attach.sno}, #{attach.filePath},#{attach.fileName},#{attach.fileType},#{attach.uuidName})
		</foreach>
		select * from dual
	</insert>
	
	<select id="list" resultType="attachVO">
		select * from attach_file
	</select>
	
	<select id="getList" resultType="attachVO">
		select * from attach_file where sno=#{sno}
	</select>
	
	<select id="get" resultType="attachVO">
		select * from attach_file where sno=#{sno}
	</select>
	
	<delete id="remove">
		delete from attach_file where sNo=#{sno}
	</delete>

</mapper>